.gallery{
    margin: 0;
    padding: 0;
}
ul#gallery{
    margin: 0 auto;
}
.gallery-item{
    list-style: none;
    margin-top: 20px;
}
/* 画像の読み込み中は見えないように */
.gallery-item .is-loading{
    opacity: 0;
}
