.gallery{
    margin: 0;
    padding: 0;
}
ul#gallery{
    margin: 0 auto;
    width: 970px;
}
.gallery-item{
    list-style: none;
    margin-top: 20px;
}
.gallery-item strong{
    opacity: 0;
}
/* 画像の読み込み中は見えないように */
.gallery-item .is-loading{
    opacity: 0;
}
#portfolios_gallery > h3{
    text-align: center;
}
.gallery-item img{
    border: 5px dashed whitesmoke;
}
