ul#gallery{
    padding: 0;
    width: 80%;
    margin:0 auto;
}
.gallery-item{
    list-style: none;
    margin-top: 20px;
    width: 27%;
}
.gallery-item a img{
    width: 100%;
    height: auto;
}
/* 画像の読み込み中は見えないように */
.gallery-item .is-loading{
    opacity: 0;
}
